{% extends 'webapp/base.html' %}

{% load socialaccount %}
{% block mainbody %}

    <header>
        <div class="row">
        <div class="col-sm-11">
            <h2>Login</h2>
        </div>
        <br>
        <br>
        <div class="col-xs-1">
            <a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">back</a>
        </div>
        </div>
    </header>

    <p>Connect with a social network:</p>
    <a href="{% provider_login_url 'google' %}">Sign in with Google</a>
    <p>&nbsp;</p>

    <p>Sign in with your username and password:</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-success">Sign in</button>
    </form>

    <br>
    <br>

{% endblock mainbody %}
