body {
    background-color: #272b30;
    color: #c8c8c8;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffe300;
  }

div {
    display: block;
}

/*
h2 {
    font-size: 20px;
}
*/

.h4, h4 {
    font-size: 1.5rem;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.hr, hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #3a3f44;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

/*
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
*/

.center {
    text-align: center;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid .jumbotron{
    border-radius: 6px;
    padding-left: 60px;
    padding-right: 60px;
}

.jumbotron {
    background-color: #1c1e22;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: .3rem;
    color: inherit;
    margin-bottom: 30px;
    /* margin-bottom: 2rem; */
    padding: 48px, 0;
    /* padding: 4rem 2rem; */
}

.navbar {
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    filter: none;
    margin-bottom: 20px;
    min-height: 50px;
    position: relative;
    overflow: visible;
  }

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar-default {
    background-color: #3a3f44;
}

.navbar-right {
    float: right;
}

.dropdown {
    float: left;
    overflow: visible;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffe300;
    color: black;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ffe300;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #32383e;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.pad_top {
    padding-top: 34px;
}

.pad_bot {
    padding-bottom: 34px;
}

/*
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
*/

.subscribe_btn {
    margin-left: -100px!;
}

.yellow {
    color: #ffe300;
}