{% extends 'webapp/base.html' %}
{% block mainbody %}
    <div class="row">
        <div class="col-sm-2 col-lg-2 col-md-2">
            <h4>Statistics</h4>
            <p>Films: {{ Films }}</p>
            <p>Persons: {{ Persons }}</p>
            <p>Planets: {{ Planets }}</p>
            <p>Species: {{ Species }}</p>
            <p>Starships: {{ Starships }}</p>
            <p>Vehicles: {{ Vehicles }}</p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">

            <h2 id="whatisthis">What is this?</h2>

            <p>The Star Wars API is the world's first quantified and programmatically-formatted set
                of Star Wars data.</p>

            <p>After hours of watching films and trawling through content online, we present to you
                all the <strong>Persons, Films, Species, Starships, Vehicles and Planets</strong>
                from Star Wars.</p>

            <p>We've formatted this data in <a href="https://json.org"><strong>JSON</strong></a> and
                exposed it to you in a <a
                        href="https://en.wikipedia.org/wiki/Representational_state_transfer"><strong>RESTish</strong></a>
                implementation that allows you to programmatically collect and measure the data.</p>

            <p><a href="/documentation">Check out the documentation to get started consuming swapi
                data</a></p>

            <h2 id="whatcanyouusethisfor">What can you use this for?</h2>

            <p>Comparing the data from Star Wars has never been easier. Here are some examples using
                the <a href="/documentation#python">Python helper library</a></p>

            <p><em>List the planets in order of size</em>:</p>

            <pre><code>import swapi
    for planet in swapi.get_all("planets").order_by("diameter"):
        print(planet.name)
    </code></pre>

            <p><em>View the individuals who have piloted more than one starship</em>:</p>

            <pre><code>import swapi
    for persons in swapi.get_all("persons").iter():
        if len(persons.starships) &gt; 1:
            print(person.name)
    </code></pre>

            <p><em>Discover if Jar Jar Binks ruined a film just by being in it</em>:</p>

            <pre><code>import swapi
    pm = swapi.get_film(4)
    jj = swapi.get_person(36)
    for c in pm.get_characters().iter():
        if c.name == jj.name:
            print("Why George, why.")
    </code></pre>

            <h4 id="whatarethefeatures">What are the features?</h4>

            <p>We're using <a href="https://djangoproject.com">Django</a> and <a
                    href="https://django-rest-framework.org">Django REST Framework</a> to serve a <a
                    href="https://en.wikipedia.org/wiki/REST">RESTish</a> API to you.</p>

            <p>The data is all formatted in <a href="http://json.org">JSON</a> and we also support
                <a href="http://jsonschema.net">JSON Schema</a> for programmatically understanding
                the attributes of each resource.</p>

            <p>We're using <a href="https://stripe.com">stripe</a> to process our donations.</p>

            <h2 id="whydidyoubuildthis">Why did you build this?</h2>

            <p>I built the <a href="https://pokeapi.co">Pokémon API</a> before I built this. I
                realised that <em>if you provide data easily, someone will consume it</em>. I got
                bored around Christmas 2014 and decided that I'd take what I learned from PokéAPI
                and build an API for Star Wars data.</p>

            <p>Seeing the release trailer for Episode VII also made me stupidly enthusiastic for
                Star Wars again.</p>

            <h2 id="whoareyou">Who are you?</h2>

            <p>I am <a href="http://phalt.co">Paul Hallett</a>, a senior software engineer and an
                infinitely protean machine.</p>

            <h2 id="copyrightandstuff">Copyright and stuff?</h2>

            <p>Star Wars and all associated names are copyright Lucasfilm ltd.</p>

            <p>This project is open source and carries a BSD licence.</p>

            <p>All data has been freely collected from open sources such as <a
                    href="https://starwars.wikia.com">Wookiepedia</a>.</p>

        </div>
    </div>
{% endblock mainbody %}
