{% extends 'webapp/base.html' %}
{% block mainbody %}

<p><a name="contributers"></a></p>
    <h3 id="contributers">Contributers</h3>
    <br>

    <div class="row">
        <div class="column">
            <p><strong>Ashley Beals</strong></p>
            <p>UMSI: Master in Health Informatics (MHI)</p>
            <a class="github-button" href="https://github.com/bealsa"
            aria-label="Follow @arwhyte on GitHub">Follow @bealsa</a>
            <br><hr>

            <p><strong>Danny Rosa</strong></p>
            <p>Ford School of Public Policy: Master of Public Policy (MPP)</p>
            <a class="github-button" href="https://github.com/dannyrosa"
            aria-label="Follow @arwhyte on GitHub">Follow @dannyrosa</a>
            <br><hr>

            <p><strong>Jay Brown</strong></p>
            <p>UMSI: Bachelor of Science in Information (BSI)</p>
            <a class="github-button" href="https://github.com/JayLBrown"
            aria-label="Follow @arwhyte on GitHub">Follow @JayLBrown</a>
            <br><hr>

            <p><strong>Muhammad Hamid</strong></p>
            <p>UMSI: Master of Science in Information (MSI)</p>
            <a class="github-button" href="https://github.com/mdhamid1"
            aria-label="Follow @arwhyte on GitHub">Follow @mdhamid1</a>
            <br><hr>

            <p><strong>Anthony Whyte</strong></p>
            <p>UMSI: Lecturer in Information</p>
            <a class="github-button" href="https://github.com/arwhyte"
            aria-label="Follow @arwhyte on GitHub">Follow @arwhyte</a>
            <br>
        </div>

        <div class="column">
            <p><strong>Cunzhi Gao</strong></p>
            <p>UMSI: Master of Science in Information (MSI)</p>
            <a class="github-button" href="https://github.com/cunzhig"
            aria-label="Follow @arwhyte on GitHub">Follow @cunzhig</a>
            <br><hr>

            <p><strong>Jade Harrison</strong></p>
            <p>UMSI: Masters in Applied Data Science (MADS)</p>
            <a class="github-button" href="https://github.com/jadeharr"
            aria-label="Follow @arwhyte on GitHub">Follow @jadeharr</a>
            <br><hr>

            <p><strong>Kayj Garrison</strong></p>
            <p>UMSI: Master in Health Informatics (MHI)</p>
            <a class="github-button" href="https://github.com/garrisok"
            aria-label="Follow @arwhyte on GitHub">Follow @garrisok</a>
            <br><hr>

            <p><strong>Yash Kamat</strong></p>
            <p>UMSI: Master of Science in Information (MSI)</p>
            <a class="github-button" href="https://github.com/jykamat"
            aria-label="Follow @arwhyte on GitHub">Follow @ykamat</a>
            <br><hr>
        </div>
    </div>
    <br>

{% endblock mainbody %}
