{% extends 'webapp/base.html' %}
{% block mainbody %}
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <h5>Getting started</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="#intro">Introduction</a></li>
                <li class="list-group-item"><a href="#start">Getting started</a></li>
                <li class="list-group-item"><a href="#base">Base URL</a></li>
                <li class="list-group-item"><a href="#rate">Rate limiting</a></li>
                <li class="list-group-item"><a href="#auth">Authentication</a></li>
                <li class="list-group-item"><a href="#schema">JSON Schema</a></li>
                <li class="list-group-item"><a href="#search">Searching</a></li>
            </ul>
            <h5>Encodings</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="#json">JSON</a></li>
            </ul>
            <h5>Resources</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="{% url 'root' %}">Root</a></li>
                <li class="list-group-item"><a href="{% url 'person_docs' %}">Persons</a></li>
                <li class="list-group-item"><a href="{% url 'film_docs' %}">Films</a></li>
                <li class="list-group-item"><a href="{% url 'starship_docs' %}">Starships</a></li>
                <li class="list-group-item"><a href="{% url 'vehicle_docs' %}">Vehicles</a></li>
                <li class="list-group-item"><a href="{% url 'species_docs' %}">Species</a></li>
                <li class="list-group-item"><a href="{% url 'planet_docs' %}">Planets</a></li>
            </ul>
        </div>
        <div class="col-md-9 col-sm-9">
            <h1 id="documentation">Documentation</h1>
            <hr/>
            <p><a name="intro"></a></p>
            <h3 id="introduction">Introduction</h3>
            <p>Welcome to the swapi, the Star Wars API! This documentation should help you
                familiarise yourself with the resources available and how to consume them with HTTP
                requests. If you're after a native helper library then I suggest you scroll down and
                check out what's available. Read through the getting started section before you dive
                in. Most of your problems should be solved just by reading through it.</p>
            <p><a name="start"></a></p>
            <h3 id="gettingstarted">Getting started</h3>
            <p>Let's make our first API request to the Star Wars API!</p>
            <p>Open up a terminal and use <a href="http://curl.haxx.se">curl</a> or <a
                    href="http://httpie.org">httpie</a> to make an API request for a resource. In
                the example below, we're trying to get the first planet, Tatooine:</p>
            <pre><code>http swapi.py4e.com/api/planets/1/</code></pre>
            <p>We'll use <a href="http://httpie.org">httpie</a> for our examples as it displays
                responses nicely and gives us a whole lot more useful information. If you don't want
                to download httpie, just use the <em>curl</em> command instead.</p>
            <p>Here is the response we get:</p>
            <pre><code>HTTP/1.0 200 OK
Content-Type: application/json
{
    "climate": "Arid",
    "diameter": "10465",
    "gravity": "1 standard",
    "name": "Tatooine",
    "orbital_period": "304",
    "population": "200000",
    "residents": [
        "https://swapi.py4e.com/api/persons/1/",
        "https://swapi.py4e.com/api/persons/2/",
        ...
    ],
    "rotation_period": "23",
    "surface_water": "1",
    "terrain": "Dessert",
    "url": "https://swapi.py4e.com/api/planets/1/"
}
            </code></pre>
            <p>If your response looks slightly different don't panic. This is probably because more
                data has been added to swapi since we made this documentation.</p>
            <p><a name="base"></a></p>
            <h3 id="baseurl">Base URL</h3>
            <p>The <strong>Base URL</strong> is the root URL for all of the API, if you ever make a
                request to swapi and you get back a <strong>404 NOT FOUND</strong> response then
                check the Base URL first.</p>
            <p>The Base URL for swapi is:</p>
            <pre><code>https://swapi.py4e.com/api/</code></pre>
            <p>The documentation below assumes you are prepending the Base URL to the endpoints in
                order to make requests.</p>
            <p><a name="rate"></a></p>
            <h3 id="ratelimiting">Rate limiting</h3>
            <p>Swapi has rate limiting to prevent malicious abuse (as if anyone would abuse Star
                Wars data!) and to make sure our service can handle a potentially large amount of
                traffic. Rate limiting is done via IP address and is currently limited to 10,000 API
                request per day. This is enough to request all the data on the website at least ten
                times over. There should be no reason for hitting the rate limit.</p>
            <p><a name="auth"></a></p>
            <h3 id="authentication">Authentication</h3>
            <p>Swapi is a <strong>completely open API</strong>. No authentication is required to
                query and get data. This also means that we've limited what you can do to just
                <strong>GET</strong>-ing the data. If you find a mistake in the data, then <a
                        href="https://twitter.com/phalt_">tweet the author</a> or <a
                        href="mailto:paulandrewhallett@gmail.com">email him</a>.</p>
            <p><a name="schema"></a></p>
            <h3 id="jsonschema">JSON Schema</h3>
            <p>All resources support <a href="https://jsonschema.net">JSON Schema</a>. Making a
                request to <code>/api/&lt;resource&gt;/schema</code> will give you the details of
                that resource. This will allow you to programmatically inspect the attributes of
                that resource and their types.</p>
            <p><a name="search"></a></p>
            <h3 id="searching">Searching</h3>
            <p>All resources support a <code>search</code> parameter that filters the set of
                resources returned. This allows you to make queries like:</p>
            <pre><code>https://swapi.py4e.com/api/persons/?search=r2</code></pre>
            <p>All searches will use case-insensitive partial matches on the set of search fields.
                To see the set of search fields for each resource, check out the individual resource
                documentation. For more information on advanced search terms see <a
                        href="http://www.django-rest-framework.org/api-guide/filtering/#searchfilter">here</a>.
            </p>
            <h1 id="encodings">Encodings</h1>
            <hr/>
            <p>SWAPI provides two encodings for you to render the data with:</p>
            <p><a name="json"></a></p>
            <h3 id="json">JSON</h3>
            <p>JSON is the standard data format provided by SWAPI by default.</p>
        </div>
    </div>
{% endblock mainbody %}
