{% extends 'webapp/base.html' %}

{% block mainbody %}

    <p><a name="films"></a></p>
        <h3 id="films">Films</h3>
        <p>A Film resource is a single film.</p>
        <p><strong>Endpoints</strong></p>
        <ul>
            <li><code>/films/</code> -- get all the film resources</li>
            <li><code>/films/:id/</code> -- get a specific film resource</li>
            <li><code>/films/schema/</code> -- view the JSON schema for this resource</li>
        </ul>
        <p><strong>Example request:</strong></p>
        <pre><code>http https://swapi.py4e.com/api/films/1/</code></pre>
        <p><strong>Example response:</strong></p>
        <pre><code>HTTP/1.0 200 OK
Content-Type: application/json
{
    "characters": [
        "https://swapi.py4e.com/api/persons/1/",
        ...
    ],
    "created": "2014-12-10T14:23:31.880000Z",
    "director": "George Lucas",
    "edited": "2014-12-12T11:24:39.858000Z",
    "episode_id": 4,
    "opening_crawl": "It is a period of civil war.\n\nRebel spaceships, striking\n\nfrom a hidden base, have won\n\ntheir first victory against\n\nthe evil Galactic Empire.\n\n\n\nDuring the battle, Rebel\n\nspies managed to steal secret\r\nplans to the Empire's\n\nultimate weapon, the DEATH\n\nSTAR, an armored space\n\nstation with enough power\n\nto destroy an entire planet.\n\n\n\nPursued by the Empire's\n\nsinister agents, Princess\n\nLeia races home aboard her\n\nstarship, custodian of the\n\nstolen plans that can save her\n\npeople and restore\n\nfreedom to the galaxy....",
    "planets": [
        "https://swapi.py4e.com/api/planets/1/",
        ...
    ],
    "producer": "Gary Kurtz, Rick McCallum",
    "release_date": "1977-05-25",
    "species": [
        "https://swapi.py4e.com/api/species/1/",
        ...
    ],
    "starships": [
        "https://swapi.py4e.com/api/starships/2/",
        ...
    ],
    "title": "A New Hope",
    "url": "https://swapi.py4e.com/api/films/1/",
    "vehicles": [
        "https://swapi.py4e.com/api/vehicles/4/",
        ...
    ]
}</code></pre>
        <p><strong>Attributes:</strong></p>
        <ul>
            <li><code>title</code> <em>string</em>
                -- The title of this film
            </li>
            <li><code>episode_id</code> <em>integer</em>
                -- The episode number of this film.
            </li>
            <li><code>opening_crawl</code> <em>string</em>
                -- The opening paragraphs at the beginning of this film.
            </li>
            <li><code>director</code> <em>string</em>
                -- The name of the director of this film.
            </li>
            <li><code>producer</code> <em>string</em>
                -- The name(s) of the producer(s) of this film. Comma separated.
            </li>
            <li><code>release_date</code> <em>date</em>
                -- The ISO 8601 date format of film release at original creator country.
            </li>
            <li><code>species</code> <em>array</em>
                -- An array of species resource URLs that are in this film.
            </li>
            <li><code>starships</code> <em>array</em>
                -- An array of starship resource URLs that are in this film.
            </li>
            <li><code>vehicles</code> <em>array</em>
                -- An array of vehicle resource URLs that are in this film.
            </li>
            <li><code>characters</code> <em>array</em>
                -- An array of person resource URLs that are in this film.
            </li>
            <li><code>planets</code> <em>array</em>
                -- An array of planet resource URLs that are in this film.
            </li>
            <li><code>url</code> <em>string</em>
                -- the hypermedia URL of this resource.
            </li>
            <li><code>created</code> <em>string</em>
                -- the ISO 8601 date format of the time that this resource was created.
            </li>
            <li><code>edited</code> <em>string</em>
                -- the ISO 8601 date format of the time that this resource was edited.
            </li>
        </ul>
        <p><strong>Search Fields:</strong></p>
        <ul>
            <li><code>title</code></li>
        </ul>
        <hr/>

{% endblock mainbody %}
