{% extends 'webapp/base.html' %}
{% block mainbody %}

    <article>
        <header>
            <div class="row">
                <div class="col-sm-9">
                    <h2>Films</h2>
                </div>
                <div class="col-sm-1">
                    {% if user.is_authenticated %}
                    <a class="btn btn-outline-secondary" href="{% url 'film_new' %}">new</a>
                    {% endif %}
                </div>
            </div>
        </header>

        {% if films %}
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        {% for film in films %}
                            <li><a href="{% url 'film_detail' film.pk %}">{{ film.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <p>No Films are available to view.</p>
        {% endif %}

    </article>

{% endblock mainbody %}
