{% extends 'webapp/base.html' %}
{% block mainbody %}

    <header>
        <div class="row">
            <div class="col-sm-9">
                <h2>{{ persons.name | safe }}</h2>
            </div>
            {% if user.is_authenticated %}
                <div class="col-xs-1">
                    <a class="btn btn-outline-secondary">edit</a>
                </div>
                <div class="col-xs-1">
                    &nbsp;<a class="btn btn-outline-warning">delete</a>
                </div>
            {% endif %}
            <div class="col-xs-1">
                &nbsp;<a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">back</a>
            </div>
        </div>
    </header>

    <br>

    <article>
        {% if persons.name %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Name</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.name }}</p>
                </div>
            </div>
        {% endif %}

        {% if persons.species %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Species</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.species }}</p>
                </div>
            </div>
        {% endif %}

        {% if persons.gender %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Gender</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.gender }}</p>
                </div>
            </div>
        {% endif %}

        {% if persons.birth_year %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Birth Year</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.birth_year }}</p>
                </div>
            </div>
        {% endif %}

        {% if persons.home_world %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Home World</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.home_world }}</p>
                </div>
            </div>
        {% endif %}

        {% if persons.height %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Height</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.height }} cm</p>
                </div>
            </div>
        {% endif %}

        {% if persons.mass %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Weight</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.mass }} kgs</p>
                </div>
            </div>
        {% endif %}

        {% if persons.eye_color %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Eye Color</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.eye_color }}</p>
                </div>
            </div>
        {% endif %}

        {% if persons.hair_color %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Hair Color</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.hair_color }}</p>
                </div>
            </div>
        {% endif %}

        {% if persons.skin_color %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Skin Color</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ persons.skin_color }}</p>
                </div>
            </div>
        {% endif %}
        <br>
    </article>
{% endblock mainbody %}
