{% extends 'webapp/base.html' %}
{% block mainbody %}

    <article>
        <header>
        <h2>Planet Details</h2>
        </header>

        {% if planet.name %}
            <div class="row">
                <div class="col-sm-2">
                <p>Planet Name</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planet.name }}</p>
                </div>
            </div>
        {% endif %}

        {% if planet.rotation_period %}
            <div class="row">
                <div class="col-sm-2">
                <p>Rotation Period</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planet.rotation_period }}</p>
                </div>
            </div>
        {% endif %}

        {% if planet.orbital_period %}
            <div class="row">
                <div class="col-sm-2">
                <p>Orbital Period</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planet.orbital_period }}</p>
                </div>
            </div>
        {% endif %}

        {% if planet.diameter %}
            <div class="row">
                <div class="col-sm-2">
                <p>Diameter</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planet.diameter }}</p>
                </div>
            </div>
        {% endif %}

        {% if planet.climate %}
            <div class="row">
                <div class="col-sm-2">
                <p>climate</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planet.climate }}</p>
                </div>
            </div>
        {% endif %}

        {% if planet.gravity %}
            <div class="row">
                <div class="col-sm-2">
                <p>Gravity</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planet.gravity }}</p>
                </div>
            </div>
        {% endif %}

        {% if planet.terrain %}
            <div class="row">
                <div class="col-sm-2">
                <p>Terrain</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planet.terrain }}</p>
                </div>
            </div>
        {% endif %}

        {% if planet.surface_water %}
            <div class="row">
                <div class="col-sm-2">
                <p>Surface Water</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planet.surface_water }}</p>
                </div>
            </div>
        {% endif %}

        {% if planet.population %}
            <div class="row">
                <div class="col-sm-2">
                <p>Population</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planet.population }}</p>
                </div>
            </div>
        {% endif %}


    </article>

{% endblock mainbody %}