{% extends 'webapp/base.html' %}
{% block mainbody %}

    <article>
        <header>
        <h2>Planet Details</h2>
        </header>

        {% if planets.name %}
            <div class="row">
                <div class="col-sm-2">
                <p>Planet Name</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planets.name }}</p>
                </div>
            </div>
        {% endif %}

        {% if planets.rotation_period %}
            <div class="row">
                <div class="col-sm-2">
                <p>Rotation Period</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planets.rotation_period }}</p>
                </div>
            </div>
        {% endif %}

        {% if planets.orbital_period %}
            <div class="row">
                <div class="col-sm-2">
                <p>Orbital Period</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planets.orbital_period }}</p>
                </div>
            </div>
        {% endif %}

        {% if planets.diameter %}
            <div class="row">
                <div class="col-sm-2">
                <p>Diameter</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planets.diameter }}</p>
                </div>
            </div>
        {% endif %}

        {% if planets.climate %}
            <div class="row">
                <div class="col-sm-2">
                <p>climate</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planets.climate }}</p>
                </div>
            </div>
        {% endif %}

        {% if planets.gravity %}
            <div class="row">
                <div class="col-sm-2">
                <p>Gravity</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planets.gravity }}</p>
                </div>
            </div>
        {% endif %}

        {% if planets.terrain %}
            <div class="row">
                <div class="col-sm-2">
                <p>Terrain</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planets.terrain }}</p>
                </div>
            </div>
        {% endif %}

        {% if planets.surface_water %}
            <div class="row">
                <div class="col-sm-2">
                <p>Surface Water</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planets.surface_water }}</p>
                </div>
            </div>
        {% endif %}

        {% if planets.population %}
            <div class="row">
                <div class="col-sm-2">
                <p>Population</p>
                </div>
                <div class="col-sm-10">
                <p>{{ planets.population }}</p>
                </div>
            </div>
        {% endif %}
    </article>

{% endblock mainbody %}