{% extends 'webapp/base.html' %}

{% block mainbody %}

    <p><a name="root"></a></p>
        <h3 id="root">Root</h3>
        <p>The Root resource provides information on all available resources within the API.</p>
        <p><strong>Example request:</strong></p>
        <pre><code>http https://swapi.py4e.com/api/</code></pre>
        <p><strong>Example response:</strong></p>
        <pre><code>HTTP/1.0 200 OK
        Content-Type: application/json
        {
        "films": "https://swapi.py4e.com/api/films/",
        "persons": "https://swapi.py4e.com/api/persons/",
        "planets": "https://swapi.py4e.com/api/planets/",
        "species": "https://swapi.py4e.com/api/species/",
        "starships": "https://swapi.py4e.com/api/starships/",
        "vehicles": "https://swapi.py4e.com/api/vehicles/"
        }</code></pre>
        <p><strong>Attributes:</strong></p>
        <ul>
            <li><code>films</code> <em>string</em>
                -- The URL root for Film resources
            </li>
            <li><code>persons</code> <em>string</em>
                -- The URL root for Person resources
            </li>
            <li><code>planets</code> <em>string</em>
                -- The URL root for Planet resources
            </li>
            <li><code>species</code> <em>string</em>
                -- The URL root for Species resources
            </li>
            <li><code>starships</code> <em>string</em>
                -- The URL root for Starships resources
            </li>
            <li><code>vehicles</code> <em>string</em>
                -- The URL root for Vehicles resources
            </li>
        </ul>
        <hr/>


{% endblock mainbody %}
