{% extends 'webapp/base.html' %}
{% block mainbody %}

    <article>

        <header>
            <h2>Species</h2>
        </header>

        {% if species %}
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        {% for single_species in species %}
                            <li><a href="{% url 'species_detail' single_species.pk %}">{{ single_species.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <p>No Species are available to view.</p>
        {% endif %}

    </article>

{% endblock mainbody %}
