{% extends 'webapp/base.html' %}

{% block mainbody %}

    <p><a name="vehicles"></a></p>
        <h3 id="vehicles">Vehicles</h3>
        <p>A Vehicle resource is a single transport craft that <strong>does not have</strong>
            hyperdrive capability.</p>
        <p><strong>Endpoints</strong></p>
        <ul>
            <li><code>/vehicles/</code> -- get all the vehicle resources</li>
            <li><code>/vehicles/:id/</code> -- get a specific vehicle resource</li>
            <li><code>/vehicles/schema/</code> -- view the JSON schema for this resource</li>
        </ul>
        <p><strong>Example request:</strong></p>
        <pre><code>http https://swapi.py4e.com/api/vehicles/4/</code></pre>
        <p><strong>Example response:</strong></p>
        <pre><code>HTTP/1.0 200 OK
        Content-Type: application/json
        {
        "cargo_capacity": "50000",
        "consumables": "2 months",
        "cost_in_credits": "150000",
        "created": "2014-12-10T15:36:25.724000Z",
        "crew": "46",
        "edited": "2014-12-10T15:36:25.724000Z",
        "length": "36.8",
        "manufacturer": "Corellia Mining Corporation",
        "max_atmosphering_speed": "30",
        "model": "Digger Crawler",
        "name": "Sand Crawler",
        "passengers": "30",
        "pilots": [],
        "films": [
        "https://swapi.py4e.com/api/films/1/"
        ],
        "url": "https://swapi.py4e.com/api/vehicles/4/",
        "vehicle_class": "wheeled"
        }</code></pre>
        <p><strong>Attributes:</strong></p>
        <ul>
            <li><code>name</code> <em>string</em>
                -- The name of this vehicle. The common name, such as "Sand Crawler" or "Speeder
                bike".
            </li>
            <li><code>model</code> <em>string</em>
                -- The model or official name of this vehicle. Such as "All-Terrain Attack
                Transport".
            </li>
            <li><code>vehicle_class</code> <em>string</em>
                -- The class of this vehicle, such as "Wheeled" or "Repulsorcraft".
            </li>
            <li><code>manufacturer</code> <em>string</em>
                -- The manufacturer of this vehicle. Comma separated if more than one.
            </li>
            <li><code>length</code> <em>string</em>
                -- The length of this vehicle in meters.
            </li>
            <li><code>cost_in_credits</code> <em>string</em>
                -- The cost of this vehicle new, in Galactic Credits.
            </li>
            <li><code>crew</code> <em>string</em>
                -- The number of personnel needed to run or pilot this vehicle.
            </li>
            <li><code>passengers</code> <em>string</em>
                -- The number of non-essential individuals that this vehicle can transport.
            </li>
            <li><code>max_atmosphering_speed</code> <em>string</em>
                -- The maximum speed of this vehicle in the atmosphere.
            </li>
            <li><code>cargo_capacity</code> <em>string</em>
                -- The maximum number of kilograms that this vehicle can transport.
            </li>
            <li><code>consumables</code> *string</li>
            <li>The maximum length of time that this vehicle can provide consumables for its
                entire crew without having to resupply.
            </li>
            <li><code>films</code> <em>array</em>
                -- An array of Film URL Resources that this vehicle has appeared in.
            </li>
            <li><code>pilots</code> <em>array</em>
                -- An array of Person URL Resources that this vehicle has been piloted by.
            </li>
            <li><code>url</code> <em>string</em>
                -- the hypermedia URL of this resource.
            </li>
            <li><code>created</code> <em>string</em>
                -- the ISO 8601 date format of the time that this resource was created.
            </li>
            <li><code>edited</code> <em>string</em>
                -- the ISO 8601 date format of the time that this resource was edited.
            </li>
        </ul>
        <p><strong>Search Fields:</strong></p>
        <ul>
            <li><code>name</code></li>
            <li><code>model</code></li>
        </ul>
        <hr/>


{% endblock mainbody %}
