{% extends 'webapp/base.html' %}
{% block mainbody %}

    <header>
        <div class="row">
            <div class="col-sm-9">
                <h2>{{ vehicles.name | safe }}</h2>
            </div>
            {% if user.is_authenticated %}
                <div class="col-xs-1">
                    <a class="btn btn-outline-secondary" href="{% url 'vehicle_update' vehicles.pk %}">edit</a>
                </div>
                <div class="col-xs-1">
                    &nbsp;<a class="btn btn-outline-warning" href="{% url 'vehicle_delete' vehicles.pk %}">delete</a>
                </div>
            {% endif %}
            <div class="col-xs-1">
                &nbsp;<a class="btn btn-outline-secondary" href="{{request.META.HTTP_REFERER}}">back</a>
            </div>
        </div>
    </header>

    <br>
    <article>
        {% if vehicles.name %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Name</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.name }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.model %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Model</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.model }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.manufacturer %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Manufacturer</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.manufacturer }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.cost_in_credits %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Cost in Credits</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.cost_in_credits }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.length %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Length</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.length }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.max_atmosphering_speed %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Max Atmosphering Speed</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.max_atmosphering_speed }} cm</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.crew %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Crew</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.crew }} kgs</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.passengers %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Passengers</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.passengers }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.cargo_capacity %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Cargo Capacity</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.cargo_capacity }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.consumables %}
            <div class="row">
                <div class="col-sm-2">
                    <p>consumables</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.consumables }}</p>
                </div>
            </div>
        {% endif %}

        {% if vehicles.vehicle_class %}
            <div class="row">
                <div class="col-sm-2">
                    <p>Vehicle Class</p>
                </div>
                <div class="col-sm-10">
                    <p>{{ vehicles.vehicle_class }}</p>
                </div>
            </div>
        {% endif %}
    </article>
    <br>

{% endblock mainbody %}

